@import "../../pages/index/vars.sass"

.btn, input[type='submit']
    font-size: .8em
    cursor: pointer
    background-color: transparent
    border: 1px solid $accent-third
    text-transform: uppercase
    font-family: $f-content
    &:hover, &:focus, &:active
        background-color: $accent-third
