@import "fonts"

$f-default: "roboto-r", sans-serif
$f-bold: "comfortaa-b", sans-serif
$f-content: "open-sans-r", sans-serif
$f-head: "magnolia", sans-serif

/* Colors */
$white: #fff
$light: #f7f7f7
$grey-l: #e0e0e0
$grey-m: #a5a5a5
$dark: #323232
$accent-main: #f9c869
$accent-sec: #ff5049
$accent-third: #67aeb4
// $accent-fourth: #f66666
// $accent-fifth: #aad875
